<section class=" d-flex justify-content-center align-items-center flex-column ">
    <div class=" main-color pt-3">
        <h1 class="text-uppercase d-flex justify-content-center align-items-center">Portfolio Component</h1>
        <div class="star d-flex justify-content-center align-items-center">
            <div class="line main-color"> </div>
            <i class="fa-solid fa-star mx-2 main-color"></i>
            <div class="line main-color"> </div>
        </div>
        
    </div>
    <div class="container pt-3">
        <div class="row g-3">
            <div class="col-lg-4 col-md-6">
                <figure class="position-relative overflow-hidden">
                    <img src="../../../assets/img/port3.png" class="w-100 rounded-3" alt="">
                    <figcaption class="position-absolute bg-sec rounded-3 start-0 top-0 d-flex justify-content-center align-items-center w-100 h-100">
                        <i class="fa-solid fa-plus fa-6x text-white"></i>
                    </figcaption>
                </figure>

            </div>
            <div class="col-lg-4 col-md-6">
                <figure class="position-relative overflow-hidden">
                    <img src="../../../assets/img/port2.png" class="w-100 rounded-3" alt="">
                    <figcaption class="position-absolute bg-sec rounded-3 start-0 top-0 d-flex justify-content-center align-items-center w-100 h-100">
                        <i class="fa-solid fa-plus fa-6x text-white"></i>
                    </figcaption>
                </figure>

            </div>
            <div class="col-lg-4 col-md-6">
                <figure class="position-relative overflow-hidden">
                    <img src="../../../assets/img/poert1.png" class="w-100 rounded-3" alt="">
                    <figcaption class="position-absolute bg-sec rounded-3 start-0 top-0 d-flex justify-content-center align-items-center w-100 h-100">
                        <i class="fa-solid fa-plus fa-6x text-white"></i>
                    </figcaption>
                </figure>

            </div>
            <div class="col-lg-4 col-md-6">
                <figure class="position-relative overflow-hidden">
                    <img src="../../../assets/img/port3.png" class="w-100 rounded-3" alt="">
                    <figcaption class="position-absolute bg-sec rounded-3 start-0 top-0 d-flex justify-content-center align-items-center w-100 h-100">
                        <i class="fa-solid fa-plus fa-6x text-white"></i>
                    </figcaption>
                </figure>

            </div>
            <div class="col-lg-4 col-md-6">
                <figure class="position-relative overflow-hidden">
                    <img src="../../../assets/img/port2.png" class="w-100 rounded-3" alt="">
                    <figcaption class="position-absolute bg-sec rounded-3 start-0 top-0 d-flex justify-content-center align-items-center w-100 h-100">
                        <i class="fa-solid fa-plus fa-6x text-white"></i>
                    </figcaption>
                </figure>

            </div>
            <div class="col-lg-4 col-md-6">
                <figure class="position-relative overflow-hidden">
                    <img src="../../../assets/img/poert1.png" class="w-100 rounded-3" alt="">
                    <figcaption class="position-absolute bg-sec rounded-3 start-0 top-0 d-flex justify-content-center align-items-center w-100 h-100">
                        <i class="fa-solid fa-plus fa-6x text-white"></i>
                    </figcaption>
                </figure>

            </div>
        </div>
    </div>

</section>