<section class="bg-sec d-flex flex-column justify-content-center align-items-center vh-90">
<div class="container">
    <div class=" text-white">
        <h1 class="text-uppercase d-flex justify-content-center align-items-center">About Component</h1>
        <div class="star d-flex justify-content-center align-items-center">
            <div class="line"> </div>
            <i class="fa-solid fa-star mx-2"></i>
            <div class="line"> </div>
        </div>
        
    </div>
<div class="row text-white g-4 w-75 mx-auto fw-bolder">
    <div class="col-md-6 pt-4">
        <p> Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>

    </div>
    <div class="col-md-6 pt-4">
        <p> Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
    </div>
</div>
</div>
</section>