<footer class="bg-main text-white">
    <div class="container py-5">
      <div class="row text-center py-3">
        <div class="col-md-4 my-3 m-md-0">
          <h3>LOCATION</h3>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
        <div class="col-md-4 my-3 m-md-0">
          <h3>AROUND THE WEB</h3>
          <ul class="list-unstyled d-flex justify-content-center">
            <li class="border rounded-circle p-1 m-1 "><i _ngcontent-ihy-c21="" class="fa-brands fa-facebook mx-1 icon"></i></li>
            <li class="border rounded-circle p-1 m-1 "><i _ngcontent-ihy-c21="" class="fa-brands fa-twitter mx-1 icon"></i></li>
            <li class="border rounded-circle p-1 m-1 "><i _ngcontent-ihy-c21="" class="fa-brands fa-linkedin-in mx-1 icon"></i></li>
            <li class="border rounded-circle p-1 m-1 "><i _ngcontent-ihy-c21="" class="fa-solid fa-globe mx-1 icon"></i></li>
          </ul>
        </div>
        <div class="col-md-4 my-3 m-md-0">
          <h3>ABOUT FREELANCER</h3>
          <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
      </div>
    </div>
    <div class="copy mb-auto text-center py-4">
      <p class="mb-0">Copyright © Your Website 2021</p>
    </div>
  </footer>