<nav class="navbar navbar-expand-md bg-main">
    <div class="container">
      <a class="navbar-brand text-uppercase fs-2 fw-bold" routerLink="">Start FrameWork</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active fw-bold text-uppercase fs-5 mx-md-3" aria-current="about" routerLink="about" routerLinkActive="active">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold text-uppercase fs-5 mx-md-3" routerLink="portfolio" routerLinkActive="active">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold text-uppercase fs-5 mx-md-3" routerLink="contact" routerLinkActive="active">Contact</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>