<section class="bg-sec d-flex flex-column justify-content-center align-items-center vh-90">
    <img src="../../../assets/img/avataaars.svg" alt="" width="250">
    <div class=" text-white">
        <h1 class="text-uppercase">StartFramWork</h1>
        <div class="star d-flex justify-content-center align-items-center">
            <div class="line"> </div>
            <i class="fa-solid fa-star mx-2"></i>
            <div class="line"> </div>
        </div>
        
    </div>
    <p class="justify-content-center align-items-center d-flex pt-2 text-white"> Graphic Artist - Web Designer - Illustrator</p>
</section>